
@{
    ViewBag.Title = "Clases";
}

<div style="margin: 20px  50px ">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Clases</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <div class="col-sm-12">


                            <a class="btn btn-primary btn-user btn-block my-3" href="/Home/Nuevo">Nuevo</a>
                            <table class="table table-bordered dataTable" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>Nombre de la clase</th>
                                        <th>Descripcion</th>
                                        <th>Horario</th>
                                        <th>Instructor</th>
                                        <th>Duracion</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Pilates</td>
                                        <td>Clase de pilates para fortalecimiento corporal</td>
                                        <td>Martes y jueves, 17:30 - 18:30</td>
                                        <td>Ana García</td>
                                        <td>60</td>
                                    </tr>
                                    <tr>
                                        <td>Zumba</td>
                                        <td>Clase de zumba para quemar calorías bailando</td>
                                        <td>Lunes y miércoles, 20:00 - 21:00</td>
                                        <td>Carlos López</td>
                                        <td>60</td>
                                    </tr>
                                    <tr>
                                        <td>Spinning</td>
                                        <td>Clase de spinning para mejorar resistencia cardiovascular</td>
                                        <td>Viernes, 19:00 - 20:00</td>
                                        <td>Laura Martínez</td>
                                        <td>60</td>
                                    </tr>
                                    <tr>
                                        <td>CrossFit</td>
                                        <td>Clase de CrossFit para entrenamiento funcional</td>
                                        <td>Lunes, miércoles y viernes, 19:30 - 20:30</td>
                                        <td>Javier Rodríguez</td>
                                        <td>60</td>
                                    </tr>
                                    <tr>
                                        <td>Tai Chi</td>
                                        <td>Clase de Tai Chi para relajación y armonía</td>
                                        <td>Martes y jueves, 19:00 - 20:00</td>
                                        <td>María Fernández</td>
                                        <td>60</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



