
@{
    ViewBag.Title = "Empleados";
}

<div style="margin: 20px  50px ">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Membresias</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <div class="col-sm-12">


                            <a class="btn btn-primary btn-user btn-block my-3" href="/Home/Nuevo">Nuevo</a>
                            <table class="table table-bordered dataTable" style="width: 100%;">
                                <thead>
                                    <tr role="row">

                                        <th>Nombre empleado</th>
                                        <th>Apellido</th>
                                        <th>Fecha de nacimiento</th>
                                        <th>Genero</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Fecha de inicio de empleo</th>
                                        <th>Salario</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Juan</td>
                                        <td>Pérez</td>
                                        <td>1990-05-15</td>
                                        <td>Masculino</td>
                                        <td>Calle Principal 123</td>
                                        <td>123456789</td>
                                        <td>2018-07-10</td>
                                        <td>2800.00</td>
                                    </tr>
                                    <tr>
                                        <td>María</td>
                                        <td>González</td>
                                        <td>1988-11-20</td>
                                        <td>Femenino</td>
                                        <td>Carrera 7 #45-67</td>
                                        <td>555666777</td>

                                        <td>2019-02-28</td>
                                        <td>3200.00</td>
                                    </tr>
                                    <tr>
                                        <td>Carlos</td>
                                        <td>Martínez</td>
                                        <td>1982-03-10</td>
                                        <td>Masculino</td>
                                        <td>Av. Bolívar 789</td>
                                        <td>333444555</td>

                                        <td>2020-10-05</td>
                                        <td>3000.00</td>
                                    </tr>
                                    <tr>
                                        <td>Ana</td>
                                        <td>López</td>
                                        <td>1995-08-22</td>
                                        <td>Femenino</td>
                                        <td>Calle 25 #10-15</td>
                                        <td>777888999</td>

                                        <td>2023-01-10</td>
                                        <td>2900.00</td>
                                    </tr>
                                    <tr>
                                        <td>Pedro</td>
                                        <td>Sánchez</td>
                                        <td>1980-12-05</td>
                                        <td>Masculino</td>
                                        <td>Avenida Libertador 123</td>
                                        <td>666777888</td>

                                        <td>2022-05-20</td>
                                        <td>3400.00</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


