@{
    ViewBag.Title = "Rol";
}

<div style="margin: 20px 50px">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Membresias</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <div class="col-sm-12">

                            <a class="btn btn-primary btn-user btn-block my-3" href="/Home/Nuevo">Nuevo</a>
                            <table class="table table-bordered dataTable" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Instructor</td>
                                        <td>
                                            <a href="#ACTUALIZAR">Actualizar</a>
                                            <form action="#ELIMINAR" method="post">
                                                <input id="id" name="id" type="hidden" value="" />
                                                <button type="submit" class="btn btn-link">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Gerente</td>
                                        <td>
                                            <a href="#ACTUALIZAR">Actualizar</a>
                                            <form action="#ELIMINAR" method="post">
                                                <input id="id" name="id" type="hidden" value="" />
                                                <button type="submit" class="btn btn-link">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Secretaria</td>
                                        <td>
                                            <a href="#ACTUALIZAR">Actualizar</a>
                                            <form action="#ELIMINAR" method="post">
                                                <input id="id" name="id" type="hidden" value="" />
                                                <button type="submit" class="btn btn-link">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Entrenador</td>
                                        <td>
                                            <a href="#ACTUALIZAR">Actualizar</a>
                                            <form action="#ELIMINAR" method="post">
                                                <input id="id" name="id" type="hidden" value="" />
                                                <button type="submit" class="btn btn-link">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Limpieza</td>
                                        <td>
                                            <a href="#ACTUALIZAR">Actualizar</a>
                                            <form action="#ELIMINAR" method="post">
                                                <input id="id" name="id" type="hidden" value="" />
                                                <button type="submit" class="btn btn-link">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Mantenimiento</td>
                                        <td>
                                            <a href="#ACTUALIZAR">Actualizar</a>
                                            <form action="#ELIMINAR" method="post">
                                                <input id="id" name="id" type="hidden" value="" />
                                                <button type="submit" class="btn btn-link">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
